<main class="container">
  <div class="jumbotron">
    <h1>Frequently Asked Questions</h1>
  </div>

  <div class="container">
    <ul>
      <li class="mb-2">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">What is an 'unknown' game?</h5>
        </div>
        There's two reasons a game is marked as unknown:
        <ol>
          <li>The game has been deleted by Steam</li>
          <li>The game has not yet been scraped to our database (usually for new games)</li>
        </ol>
      </li>
      <li class="mb-2">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Why can't I see my games when I search for my profile?</h5>
        </div>
        Your profile may be private or you may have entered your Steam ID or profile URL incorrectly. To find
        your profile URL, go to your steam profile in browser and copy-paste the url to our search bar.
      </li>
      <li class="mb-2">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Is Condensate Open Source?</h5>
        </div>
        Yes, see the about page for details.
      </li>
      <li class="mb-2">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">How can I hide free / unknown / unplayed games?</h5>
        </div>
        After finding your profile, click on the green buttons below the search bar to hide free / unknown / unplayed
        games.
      </li>
      <li class="mb-2">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Is there a way to export my profile information?</h5>
        </div>
        There is currently no way to export your data, but could be a future feature.
      </li>
      <li class="mb-2">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Is there a way to share my profile information?</h5>
        </div>
        Copy the link after searching for a URL and you can give that link to your friends.
      </li>
    </ul>
  </div>
</main>
