<main class="container">
  <div class="jumbotron">
    <h1>About Condensate</h1>
    <br>
    <div class="lead row">
      <div class="col-md-12">By Zhi Bin Wu</div>
    </div>
    <div class="lead row">
      <div class="col-md-12">
        <a href="mailto:jukebox1412@gmail.com" target="_blank">Jukebox1412@gmail.com</a>
      </div>
    </div>
    <div class="lead row">
      <div class="col-md-12">
        <a href="https://github.com/jukebox1412/Condensate" target="_blank"><img class="img-fluid"
            src="../../assets/GitHub-Mark-120px-plus.png" /></a>
      </div>
    </div>

    <hr class="my-4">

    <h2 class="my-4">Licenses and Credits:</h2>
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th scope="col">Software</th>
          <th scope="col">Purpose</th>
          <th scope="col">License</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a target="_blank" href="https://github.com/angular/angular">Angular 7</a></td>
          <td>Frontend client </td>
          <td>MIT</td>
        </tr>
        <tr>
          <td><a target="_blank" href="https://github.com/aspnet/AspNetCore">ASP.Net Core</a></td>
          <td>Backend API</td>
          <td>Apache-2.0</td>
        </tr>
        <tr>
          <td><a target="_blank" href="https://ng-bootstrap.github.io">ng-bootstrap</a></td>
          <td>Tables and Angular Bootstrap</td>
          <td>MIT</td>
        </tr>
        <tr>
          <td><a target="_blank" href="https://developers.google.com/chart/">Google Charts</a></td>
          <td>Charts</td>
          <td>MIT</td>
        </tr>
        <tr>
          <td><a target="_blank" href="https://www.npmjs.com/package/angular-google-charts">Angular-google-charts</a>
          </td>
          <td>Google Charts Angular wrapper</td>
          <td>MIT</td>
        </tr>
        <tr>
          <td><a target="_blank" href="https://www.digitalocean.com/">Digital Ocean</a>
          </td>
          <td>Remote host</td>
          <td>NA</td>
        </tr>
        <tr>
          <td><a target="_blank" href="https://www.nginx.com/">NGINX</a>
          </td>
          <td>Reverse Proxy</td>
          <td>BSD-Like</td>
        </tr>
        <tr>
          <td><a target="_blank" href="https://travis-ci.com/">Travis CI</a>
          </td>
          <td>Dev Pipeline</td>
          <td>NA</td>
        </tr>
        <tr>
          <td><a target="_blank" href="https://github.com/">Github</a>
          </td>
          <td>Remote Repo</td>
          <td>NA</td>
        </tr>
        <tr>
          <td><a target="_blank" href="https://letsencrypt.org/">Let's Encrypt</a>
          </td>
          <td>HTTPS Certificates</td>
          <td>Mozilla Public License</td>
        </tr>
        <tr>
          <td><a target="_blank" href="https://certbot.eff.org/">Certbot</a>
          </td>
          <td>HTTPS Certificates helper</td>
          <td>Apache License</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
